*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(19, 32, 42) !important;
    outline: none !important;
}

.logo{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

form{
    background-image: linear-gradient(rgb(27, 88, 106), rgb(34, 43, 53));
    padding: 50px;
    margin-top: 50px;
    border-radius: 10px;
    box-shadow: rgba(53, 53, 53, 0.885) -2px 0px 33px 2px;
    -webkit-box-shadow: rgba(29, 29, 29, 0.779) -2px 0px 33px 2px;
    -moz-box-shadow: rgba(27, 27, 27, 0.548) -2px 0px 33px 2px;
    transition: 0.5s;
}

/* img{
    box-shadow: rgba(32, 32, 32, 0.291) -2px 0px 33px 2px;
    -webkit-box-shadow: rgba(29, 29, 29, 0.449) -2px 0px 33px 2px;
    -moz-box-shadow: rgba(12, 12, 12, 0.3) -2px 0px 33px 2px;
    padding: 8px;
    width: 200px;
    height: 50px;
    border-radius: 100px;
    background-color: white;
} */

.button{
    background-color: rgb(76, 84, 85) !important;
    margin-top: 41px;
    width: 100%;
    color: rgb(219, 219, 219) !important;
    cursor: pointer;
}

label{
    color: rgb(255, 255, 255);
    font-weight: 700;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    letter-spacing: 2px;
}

#cep{
    background-color: rgb(213, 213, 213) !important;
    border: none !important;
    color: rgb(10, 60, 79) !important;
    height: 50px;
    font-weight: 700;
    border-radius: 8px !important;
}

.bg-black{
    background-color: rgba(18, 87, 116, 0.452) !important;
    border: none;
    color: rgb(92, 188, 207) !important;
    font-weight: 700 !important;
}

.bg-black:hover{
    border: 0.5px solid rgba(0, 170, 255, 0.853) !important;
}

input > .errorInput{
    border: solid 2px red;
}

input.item-error {
    border-color: #D61E1E;
}

.label-error {     
    color: D61E1E;
}


.titulo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.titulo > h2{
    color: rgb(187, 219, 229);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 800;
}

.swal2-popup{
    background-image: linear-gradient(rgb(27, 88, 106), rgb(34, 43, 53)) !important;
    color: white !important;
}

.swal2-confirm{
    background-color: rgb(63, 90, 121) !important;
}

@media (max-width: 768px){
    .button{
        margin-top: 0px;

    }
    img{
        margin-bottom: 10px !important;
    }
    .logo{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(16, 70, 81, 0.792);
        border-radius: 10px;
    }
}